body {
	background-color: white;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	height: 100%;
}

html {
	height: 100%;
	-ms-text-size-adjustL: 100%;
	-webkit-text-size-adjust: 100%;
}

footer {
	height: 100px;
	margin: auto;
	text-align: center;
	width: 1200px;
	/*background-color: #f3f3f3;*/
}